<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PaycheckAppUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <PaycheckAppUI.Properties.Settings>
            <setting name="ImagePath" serializeAs="String">
                <value>empty</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value />
            </setting>
            <setting name="ShortDescription" serializeAs="String">
                <value />
            </setting>
            <setting name="PrinterName" serializeAs="String">
                <value>empty</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value>empty</value>
            </setting>
            <setting name="PrintCopies" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultZipCode" serializeAs="String">
                <value />
            </setting>
            <setting name="OuputPath" serializeAs="String">
                <value />
            </setting>
        </PaycheckAppUI.Properties.Settings>
    </userSettings>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
	</System.Windows.Forms.ApplicationConfigurationSection>
</configuration>
